/* css styles */


.slide{
    max-width: 100%;
        min-width: 100%;
    max-height: 100%;
    min-height: 300px;
    height: inherit !important; 
}

.metaslide{
  margin-top:30px;
  margin-left:-30px;
  font-size:10pt;

}


.metaslide li{
 margin-bottom: 0.9em;
}

.footer-text{
  font-size:20px;
  font-style: italic;
  text-align: center;
}

#refs{
  font-size:14px;

}

#map {
  float: left;
  width:40%;
}


#maptext {
  text-align: left;
  float: right;
  width:55%;
}

#title-list-post{
  margin-top: 40px;
  margin-bottom: 20px;
}

#center{
 text-align:center;
}